#painel {
    border-radius: 10px;
    box-shadow: 10px 6px 6px #00000011;
    background: #ffffff;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 15%;
    padding-bottom: 100px;
}

.painelConvidar{
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000011;
    background: white;
}

#btnAdd {
    background-color: #4CA8E0;
    border: none;
    color: white;
    font-family: PortoSans-Bold;
    border-radius: 50px;
}

