#painel {
    border-radius: 10px;
    box-shadow: 2px 6px 6px #00000011;
    background: #ffffff;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 15%;
}

.form-group,
.txtName {
    font-family: PortoSans-LightItalic;
}

#descricao,
#painelConvidar {
    padding: 30px 80px 30px 80px;
}

#divConvidar {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000011;
    background: white;
}

h6 {
    font-family: PortoSans-RegularItalic;
    font-size: 18pt;
    padding: 0px 20px 0px 50px;
}

#btnAdd {
    background-color: #4CA8E0;
    border: none;
    color: white;
    font-family: PortoSans-Bold;
    border-radius: 50px;
}

#btnConvidar {
    padding: 8px 60px 8px 60px;
    background-color: #4CA8E0;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
    font-family: PortoSans-RegularItalic;
    font-size: 14pt;
}

.btnCriar {
    position: responsive;
    padding: 18px 0px 40px 340px;
}

#btnCriar {
    padding: 18px 150px 18px 150px;
    background-color: #4CA8E0;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-family: PortoSans-RegularItalic;
    font-size: 16pt;
}

.footer {
    height: 100px;
    padding-top: 44px;
    text-align: center;
    margin-top: 100px;
    border-top: 1px rgb(119, 119, 119);
    font-family: PortoSans-LightItalic;
    color: #666666;
    font-size: 0.9em;
    background-color: rgb(255, 255, 255);
}