.barraEquipa{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000011;
    background: #ffffff;
    border: 0;
    cursor: pointer;
}

.nomeEquipa{
    font-family: PortoSans-RegularItalic;
    font-size: 1.3em;
}

.inline {
    display: inline;
}

.cardsTotal{
    margin-left: 90px;
    margin-right: 90px;
}

.cardsEquip {
    margin-top: 50px;
    padding: 0px 30px 0px 30px;
}

.card-body {
    padding: 25px 20px 25px 20px;
    box-shadow: 5px 5px 7px #00000011;
}

#btnCriarEquipa{
    font-family: PortoSans-BoldItalic;
    border-radius: 20px;
    background-color: #47a4df;
    border: 0;
    padding: 5px 15px 5px 15px;
}

@media only screen and (max-width: 392px) {
    .cardsTotal{
        margin-left: 0px;
        margin-right: 0px;
    }
    
}