.descricao:disabled{
    border: none;
    font-family: PortoSans-Regular;
    font-size:20px ;
    background: #f5f4f4;
    border-radius: 15px;
}

.barraEquipa{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000011;
    background: #ffffff;
    margin-top: 30px;
    padding: 18px 25px 10px 40px;
}

#btnInscrever {
    font-family: PortoSans-RegularItalic;
    font-size: 13pt;
    background: #47a4df;
    padding: 5px 35px 5px 35px;
    color: black;
    border: solid 2px #47a4df;
    border-radius: 50px;
}

#btnMembro {
    font-family: PortoSans-RegularItalic;
    font-size: 13pt;
    background: none;
    padding: 5px 35px 5px 35px;
    color: #47a4df;
    border: solid 2px #47a4df;
    border-radius: 50px;
}

#btnEditar {
    font-family: PortoSans-RegularItalic;
    font-size: 13pt;
    background: none;
    padding: 5px 35px 5px 35px;
    color: black;
    border: solid 2px #47a4df;
    border-radius: 50px;
}


h3 {
    font-family: PortoSans-BoldItalic;
    font-size: 17pt;
    padding-top: 20px;
}

h4 {
    font-family: PortoSans-RegularItalic;
    font-size: 22pt;
    padding-top: 25px;
}

#divRecordes {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 6px 6px #00000011;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#divAtividades small,
#divRecordes small {
    font-size: 15pt;
}

#divMembros {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 6px 6px #00000011;
    padding-left: 50px;
    margin-bottom: 50px;
}

label {
    font-size: 16pt;
    font-family: PortoSans-RegularItalic;
    padding-left: 15px;
}

#divConvidar button {
    background-color: #4CA8E0;
    border: none;
    color: white;
    font-family: PortoSans-Bold;
    border-radius: 50px;
}