@font-face {
    font-family: PortoSans-LightItalic;
    src: url(../fonts/PortoSans-LightItalic.otf);
}

@font-face {
    font-family: PortoSans-RegularItalic;
    src: url(../fonts/PortoSans-RegularItalic.otf);
}

@font-face {
    font-family: PortoSans-BoldItalic;
    src: url(../fonts/PortoSans-BoldItalic.otf);
}

@font-face {
    font-family: PortoSans-Regular;
    src: url(../fonts/PortoSans-Regular.otf);
}