.barraProva{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000011;
    background: #ffffff;
    padding: 60px;
    cursor: pointer;
}

.titulo{
    font-family: PortoSans-RegularItalic;
    font-size: 1.5em;
}

.subtitulo{
    font-size: 1.3em;
    font-family: PortoSans-LightItalic;
    margin-right: 10px;
    color: rgb(165, 165, 165);
}

.opcao{
    margin-top: 180px;
}

form .form-control{
    border-radius: 10;
    margin-bottom: 30px;
}

.btnAdicionar{
    background-color: #4CA8E0;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 6px;
    border-radius: 30px;
    font-family: PortoSans-BoldItalic;
    margin-bottom: 30px;
}

label{
    font-family: PortoSans-RegularItalic;
    font-size: 17px;
    margin-right: 15px;
}

select, .form-date{
    border: 0px none;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.image-upload>input {
    display: none;
  }

  .image-upload{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #imagePreview{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .stats{
    font-family: PortoSans-RegularItalic;
    background-color: #4CA8E0;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }

  .dados{
    font-family: PortoSans-RegularItalic;
    background-color: rgb(255, 255, 255);
    border: 1px solid #4CA8E0;
    color: #4CA8E0;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }

  