body {
    background-color: #f9f9f9;
}
button:focus {
    outline:0;
}

.submenuIcon{
    margin-right: 10px;
}
.logo{
    object-fit: contain;
}
.notifIcon{
    margin-right: 15px;
    margin-left: 25px;
}

header{
    background-color: white;
}

header a {
    font-size: 12pt;
    font-family: PortoSans-BoldItalic;
    color: black;
}

header a:hover, .nav-item a {
    color: black;
    text-decoration: none;
}

.nav__links{
    display: flex;
    justify-content: space-around;
}

.nav__links li{
    display: inline;
}

.nav__links .active{
    border-bottom: 1px solid #4CA8E0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}


#search{
    border: 1px solid #cacaca;
    background: none;
    font-size: 10pt;
    font-style: italic;
    font-family: PortoSans-LightItalic;
    margin-right: 10px;
    padding: 5px;
}

.dropbtn {
    background-color:white;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown a {
   font-family: PortoSans-RegularItalic;
  }

  .dropdown img{
    margin-right: 8px;
   }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000011;
    background: #ffffff;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.barra{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000011;
    background: #ffffff;
    width: 80%;
    margin-top: 5%;
    padding: 5px;
}

.barraPontos{
    margin-left: 10%;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000011;
    background: white;
    font-size: 1.2em;
    padding: 5px;
    padding-top: 20px;
    position: relative;
    z-index: -1;
    top: -10px;
}

.nome{
    font-size: 14pt;
    font-family: PortoSans-RegularItalic;
}

.localizacao{
    font-size: 12pt;
    font-family: PortoSans-RegularItalic;
    color: grey;
}

.nomeEquipa{
    background-color: #4CA8E0;
    padding: 5px 13px 5px 13px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000011;
    font-family: PortoSans-BoldItalic;
    color: white;
    margin-top: 30px;
    position: relative;
    left: 75%;
    font-size: 1.2em;
}

.shirt{
    position: relative;
    left: 5%;
}

.shirtMobile{
    margin-left: 10px;
  }

.nomeEquipaMobile{
    background-color: #4CA8E0;
    padding: 5px 13px 5px 13px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000011;
    font-family: PortoSans-BoldItalic;
    color: white;
    margin-top: 20px;
    font-size: 9pt;
    font-family: PortoSans-RegularItalic;
}

.nivel{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.nivelMobile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    left: 15%;
    top: -60px;
}

.barraProvas{
    border-radius: 10px;
    box-shadow: 2px 2px 8px #00000011;
    background: #ffffff;
    width: 80%;
    margin-top: 100px;
    padding: 5px;
}

#tabs a{
    font-family: PortoSans-RegularItalic;
    font-size: 1.2em;
}

.conteudo{
    position: relative;
    top: -50px;
    left: -0.25%;
}

.nav-link{
    color: black;
}

.nav-link.active, .categoriaProva{
    color: rgb(46, 183, 247) !important;
    font-family: PortoSans-RegularItalic !important;
    font-size: 1em;
  }

.nav-item{
    border-radius: 10px;
    box-shadow: -3px -5px 7px #00000009;
    background: #ffffff;
    padding: 5px;
    padding-bottom: 15px;
}
.headerProvas{
    position: relative;
    top: -15px;
    padding: 0px 40px 0px 40px;
}

.valorDiv{
    text-align: center;
    padding: 15px 0px 5px 0px;
    border-left: 1px solid rgb(216, 216, 216);
}

.valor{
    font-family: PortoSans-RegularItalic;
    font-size: 1.3em;
}

.categoria{
    font-family: PortoSans-LightItalic;
    font-size: 1.2em;
    color: rgb(179, 179, 179);
}

.infoProva{
    font-size: 1em;
    font-family: PortoSans-LightItalic;
    margin-right: 10px;
    color: rgb(179, 179, 179);
}

.infoProva2{
    font-size: 0.9em;
    font-family: PortoSans-RegularItalic;
    margin-right: 10px;
    color: rgb(179, 179, 179);
}

.nomeProva{
    font-family: PortoSans-RegularItalic;
    font-size: 1.1em;
}

.img{
    width: 80px;
    height: 60px;
    object-fit: cover;
  }

@media only screen and (max-width: 411px) {
    .nav__links li a {
        font-size: 0.7em;
        margin-right: 10px;
    }

    .nivelMobile {
        width: 80px;
        height: 80px;
        left: 0%;
        top: -60px;
    }
    
    .barraPontos {
        font-size: 0.8em !important;
        width: 255px !important;
    }

    .fotoPerfil{
        width: 80%;
    }
    
    .nome{
        font-size: 0.8em;
    }
    
    .localizacao{
        font-size: 0.6em;
    }
  }

@media only screen and (max-width: 600px) {
    .barraPontos {
        font-size: 1em;
        width: 288px;
    }

    .shirtMobile{
        width: 20%;
    }
  }

@media only screen and (min-width: 640px) {
    .nivelMobile {
        width: 150px;
        height: 150px;
        left: 20%;
        top: -60px;
    }
  }

@media only screen and (max-width: 1856px) {
    .nivel {
        width: 80px;
        height: 80px;
    }

    .nomeEquipa{
        left: 30%;
        font-size: 0.9em;
    }

    .shirt{
        left: 2%;
    }
}
