@font-face {
    font-family: PortoSans-LightItalic;
    src: url(fonts/PortoSans-LightItalic.otf);
}

@font-face {
    font-family: PortoSans-RegularItalic;
    src: url(fonts/PortoSans-RegularItalic.otf);
}

@font-face {
    font-family: PortoSans-BoldItalic;
    src: url(fonts/PortoSans-BoldItalic.otf);
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.modal-dialog {
    color: #000000;
}

.navBar {
    background-color: #ffffff;
    color: #000000;
    height: 90px;
    padding-top: 24px;
}

.buttonJunta {
    background-color: #4CA8E0;
    border: none;
    color: white;
    padding: 17px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 6px;
    border-radius: 50px;
    font-family: PortoSans-BoldItalic;
}

.buttonRegistar {
    background-color: #4CA8E0;
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin: 6px;
    border-radius: 50px;
    font-family: PortoSans-BoldItalic;
}

.conteudo {
    margin-top: 90px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.footer {
    height: 110px;
    padding-top: 44px;
    text-align: center;
    margin: 0;
    background-color: #F8F9FA;
    font-family: PortoSans-RegularItalic;
    color: #666666;
}

